Repository CSC59939/studY, pull requests merged in 2018-11, with the labels that each got.

#84 some test for events
  frontend/package-lock.json
  frontend/src/components/EventHomePage/EventHomePage.js
  frontend/src/components/EventHomePage/EventHomePage.styles.js
  frontend/src/components/EventHomePage/EventHomePage.test.js
  frontend/src/components/EventHomePage/__snapshots__/EventHomePage.test.js.snap
  frontend/src/components/EventList/EventList.js
  frontend/src/components/EventList/EventList.styles.js
  frontend/src/components/EventList/EventList.test.js
  frontend/src/components/EventList/EventListCard.js
  frontend/src/containers/EventPage/EventPage.js
Labels: frontend

#96 Fetchevents 75
  backend/accounts/migrations/0001_initial.py
  backend/accounts/migrations/0002_account_school.py
  backend/events/migrations/0001_initial.py
  backend/events/migrations/0002_topic_image.py
  backend/events/migrations/0003_category_image.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EventHomePage/EventHomePage.js
  frontend/src/components/EventHomePage/EventHomePage.test.js
  frontend/src/components/EventList/EventListCard.js
  frontend/src/containers/EventListPage/EventListPage.js
  frontend/src/containers/EventPage/EventPage.js
  frontend/src/fetches.js
Labels: frontend

#94 made register and login modals
  frontend/src/App.js
  frontend/src/components/banner/banner.js
  frontend/src/components/header/header.js
  frontend/src/components/login/login.js
  frontend/src/components/login/login.module.css
  frontend/src/components/register/register.js
  frontend/src/components/register/register.module.css
  frontend/src/containers/App.js
  frontend/src/containers/header.js
  frontend/src/containers/index.js
  frontend/src/index.js
Labels: frontend

#99 Event does not exist exception
  frontend/src/containers/EventPage/EventPage.js
Labels: bug

#146 coordinate fixed
  backend/events/data/topics/coordinate.json
Labels: backend

#149 Update event map issue147
  frontend/package-lock.json
  frontend/src/components/EventHomePage/EventHomePage.js
  frontend/src/components/EventHomePage/EventHomePage.test.js
  frontend/src/components/EventHomePage/EventMap.js
Labels: bug, frontend
